
.stacke-list{
width: 21.875rem;
}

.center {
    text-align: center;
}

.checkbox-input {
    height: 20px;
    width: 20px;
    margin: 3px;
}

.label{
    margin-right: 80px;
    
}
.decoration{
    text-decoration: line-through;
}

